html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* 40% of viewport height */
    width: 100%; /* Full width */
}

img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
}
